<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ekovpn.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EkoVPN">

        <activity android:name=".view.main.ads.AdViewingActivity"
            android:theme="@style/Theme.EkoVPN.NoActionBar"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7604868220609576~8057365177" />

        <activity
            android:name=".view.main.VpnActivity"
            android:label="@string/title_activity_vpn"
            android:theme="@style/Theme.EkoVPN.NoActionBar" />

        <service android:name=".service.EkoVPNMgrService" />

        <service
            android:name="org.strongswan.android.logic.VpnStateService"
            android:exported="false" />

        <activity
            android:name=".view.auth.SplashActivity"
            android:theme="@style/Theme.EkoVPN.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>